<div style="width: 100%; max-width: 650px; margin: auto;">
    <p style="text-align: center;">
        <img style="width: 100%; max-width: 150px; margin: auto;" src="cid:logo" alt="Logo Veks" />
    </p>
    <div style="background-color: #F8F8F8; margin-top: 25px; padding: 24px;">
        <h1 style="color: #1D1D1D; font-size: 22px; margin: 0">Olá!</h1>
        <div>

            <p style="color: #1D1D1D; margin-top: 10px; margin-bottom: 10px; font-size: 16px;"> O empréstimo foi
                registrado com sucesso! Agradecemos por utilizar nossos serviços na Biblioteca. Abaixo
                estão os detalhes do empréstimo:</p>
            <ul>
            <li style="color: #1D1D1D; margin-top: 10px; margin-bottom: 10px; font-size: 16px;"> 
                Livro: <span style="color: #1D1D1D;  font-size: 15px; font-weight: bold;">_{data=titulo}</span> 
            </li>
            <li style="color: #1D1D1D; margin-top: 10px; margin-bottom: 10px; font-size: 16px;">
                 Aluno: <span style="color: #1D1D1D;  font-size: 15px; font-weight: bold;">_{data=name}</span> 
            </li>
            <li style="color: #1D1D1D; margin-top: 10px; margin-bottom: 10px; font-size: 16px;"> 
                Data de Entrega: <span style="color: #1D1D1D;  font-size: 15px; font-weight: bold;">_{data=entrega}</span>
            </li>
            <li style="color: #1D1D1D; margin-top: 10px; margin-bottom: 10px; font-size: 16px;"> 
                Data de Vencimento: <span style="color: #1D1D1D;  font-size: 15px; font-weight: bold;"> _{data=vencimento}</span>
            </li>
            </ul>
            <p style="color: #1D1D1D; margin-top: 10px; margin-bottom: 10px; font-size: 16px;">Lembramos que a data de
                vencimento é um compromisso importante. Certifique-se de devolver o livro até essa
                data para evitar quaisquer penalidades ou atrasos.</p>
            <p style="color: #1D1D1D; margin-top: 10px; margin-bottom: 10px; font-size: 16px;">Se você tiver alguma
                dúvida ou precisar de mais informações, não hesite em nos contatar.</p>
            <p style="color: #1D1D1D; margin-top: 10px; margin-bottom: 10px; font-size: 16px;"> Agradecemos pela sua
                cooperação e desejamos uma ótima experiência de leitura!</p>

        </div>
    </div>
    <div style="text-align: center; margin-top: 32px;">
        <span style="opacity: 0.8; margin: 6px;">&copy;
            <a href="https://www.google.com/" style="text-decoration: none; color: #007A51;">
                ABC
            </a>
        </span>
    </div>
</div>